.flex-container {
  display: flex;
  flex-wrap: nowrap;
  /* background-color: DodgerBlue; */
}

.avatar {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  /* flex-grow: 1; */
}
.disc {
  width: 100px;
  /* margin: 10px; */
  /* line-height: 75px; */
  /* font-size: 30px; */
  flex-grow:1;
  padding-left:10px;
}
.example-viewport {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 120px;
  width:100%;
}
