<!--
<div class="flex-container" *ngFor="let repo of repos">
  <div class="avatar">
    <img [src]="test.avatar" alt="" style="height:100px;">
  </div>
  <div class="disc">
    <h3 style="margin:5px 0">{{repo.name}}</h3>
    <p> {{repo.disc}}</p>
    <div class="flex-container">
      <div style="border:solid black 1px;margin:5px;padding:5px"> Stars: {{repo.stars}}</div>
      <div style="border:solid black 1px;margin:5px;padding:5px"> Issues:  {{repo.issues}}</div>
      <div style=" margin:5px;padding:5px"> Submitted {{repo.submited | dateAgo}} by {{repo.owner}}</div>
    </div>
  </div>
</div> -->

<cdk-virtual-scroll-viewport itemSize="120" class="example-viewport">
  <div *cdkVirtualFor="let item of ds" class="example-item">

    <div class="flex-container" >
      <div class="avatar">
        <img [src]="item.avatar" alt="" style="height:100px;">
      </div>
      <div class="disc">
        <h3 style="margin:5px 0">{{item.name}}</h3>
        <p> {{item.disc}}</p>
        <div class="flex-container">
          <div style="border:solid black 1px;margin:5px;padding:5px"> Stars: {{item.stars | shortNumber}}</div>
          <div style="border:solid black 1px;margin:5px;padding:5px"> Issues:  {{item.issues | shortNumber }}</div>
          <div style=" margin:5px;padding:5px"> Submitted {{item.submited | dateAgo}} by {{item.owner}}</div>
        </div>
      </div>
    </div>
</div>
</cdk-virtual-scroll-viewport>
